@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    color: #542d24;
    font-size: 1.6rem;
    font-family: 'Life Savers' , 'Yomogi';
    background-color: #fbfaf5;
}

a {
    color: #542d24;
    text-decoration: none;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    padding: 60px 20px;
    margin: 0 auto;
}

/* ハンバーガーメニューの設定 */
.open_btn {
    display: block;
    position: fixed;
    z-index: 99;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 10%;
}

.open_btn span {
    display: inline-block;
    position: absolute;
    background-color: #9ae2bf;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    width: 45%;
}

.open_btn span:nth-of-type(1) {
    top: 15px;
}

.open_btn span:nth-of-type(2) {
    top: 23px;
}

.open_btn span:nth-of-type(3) {
    top: 31px;
}

.open_btn.active {
    background-color: #9ae2bf;
}

.open_btn.active span:nth-of-type(1) {
    transform: translateY(6px) rotate(-45deg);
    width: 60%;
    top: 18px;
    left: 10px;
    background-color: #fff;
}

.open_btn.active span:nth-of-type(2) {
    opacity: 0;
}

.open_btn.active span:nth-of-type(3) {
    transform: translateY(-6px) rotate(45deg);
    width: 60%;
    top: 30px;
    left: 10px;
    background-color: #fff;
} 
/* ハンバーガーメニューの設定 */

/* ナビゲーションのCSS */
#g-nav {
    position: fixed;
    z-index: 98;
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh;
    transition: all 0.3s;
    background-color: #9ae2bf;
}

#g-nav.panelactive {
    right: 0;
}

#g-nav .g-nav_list ul {
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 99;
}

#g-nav .g-nav_list p{
    color: #fff;
    font-family: 'Lobster Two', cursive;
    font-size: 4rem;
    text-shadow:
    1px 1px 3px #3a8d6d,
    2px 2px 3px #3a8d6d,
    3px 3px 3px #3a8d6d;
    padding: 10px 0;
    text-indent: 2rem;
    margin-top: 10px;
}

#g-nav .g-nav_list ul li {
    list-style: none;
    text-indent: 2rem;
    color: #fff;
    margin: 25px 0;
}

#g-nav .g-nav_list ul li p {
    color: #fff;
    font-family: 'Lobster Two', cursive;
    font-size: 4rem;
    line-height: 1em;
    margin-bottom: 40px;
    text-shadow: 2px 2px 2px #3a8d6d;
}

#g-nav .g-nav_list ul li a {
    color: #fff;
    font-size: 2.4rem;
    letter-spacing: 0.2em;
    transition: .3s;
    padding: 5px 10px;
    background-image: linear-gradient(rgba(0,0,0,0) 50%, #3a8d6d 50%);
    background-position: 0 0;
    background-size: auto 200%;
}

#g-nav .g-nav_list ul li a:hover {
    background-position: 0 100%;
}

#g-nav_top {
    display: none;
}
/* /ナビゲーションのCSS */

/* トップに戻るボタン */
#page_top {
    height: 50px; /*ボタンのサイズ*/
    width: 50px; /*ボタンのサイズ*/
    position: fixed;
    right: 20px; /*ボタンの位置*/
    bottom: 20px; /*ボタンの位置*/
    border-radius: 50%;
    display: flex; /*ボタンのエリア内に棒線をもってくる*/
    justify-content: center; /*ボタンのエリア内、左右中心に持ってくる*/
    align-items: center; /*ボタンのエリア内、上下中心に持ってくる*/
    background-color: #fff;
    border: solid 5px rgba(0,0,0,0);
    z-index: 99;
}

#page_top .top_btn {
    height: 10px; /*矢印のサイズ*/
    width: 10px; /*矢印のサイズ*/
    border-top: 4px solid #9ae2bf; /*矢印の線の太さと色*/
    border-right: 4px solid #9ae2bf; /*矢印の線の太さと色*/
    transform: translateY(20%) rotate(-45deg); /*L字の棒線の角度を変えて矢印のように見せる*/
}

#page_top:hover {
    box-shadow:
    2px 2px 10px #3a8d6d,
    -2px -2px 10px #3a8d6d;
}
/* /トップに戻るボタン */
/*-------------------------------------------
header
-------------------------------------------*/
#header {
    background-image: url(/photo_online/online_mainvisual.jpg);
    background-size: cover;
    background-position: center;
    height: 40vh;
    position: relative;
}

#header .site_title {
    font-family: 'Lobster Two', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header .site_title h2 {
    color: #fff;
    text-shadow:
    1px 1px 3px #3a8d6d,
    2px 2px 3px #3a8d6d,
    3px 3px 3px #3a8d6d,
    -1px -1px 3px #3a8d6d,
    -2px -2px 3px #3a8d6d,
    -3px -3px 3px #3a8d6d;
}

#header .site_title h1 {
    color: #3a8d6d;
    text-shadow:
    1px 1px 3px #542d24,
    2px 2px 3px #542d24,
    3px 3px 3px #542d24,
    -1px -1px 3px #542d24,
    -2px -2px 3px #542d24,
    -3px -3px 3px #542d24;
}

#header .breadcrumbs{
    display:flex;
    white-space: nowrap;
    padding-top: 42vh;
    height: 30px;
    align-items: center;
}

#header .breadcrumbs li{
    list-style: none;
    padding-right: 10px;
}

#header .breadcrumbs li a {
    text-decoration: underline;
    color: #3a8d6d;
}
/*-------------------------------------------
item
-------------------------------------------*/
#item {
    display: flex;
    flex-direction: column;/*スマホ*/
    justify-content: space-between;
    margin-bottom: 100px;
}

#item .item_info p {
    margin-bottom: 30px;
    line-height: 1.9;
}

#item .item_info .item_title {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: solid 1px #c3c3c3;
    border-bottom: solid 1px #c3c3c3;
    font-weight: bold;
    margin-bottom: 20px;
}

#item .item_info .item_inner p {
    text-indent: 2rem;
}
#item .item_info .order-table {
    width: 100%;
    margin-bottom: 20px;
}
#item .item_info .order-table .color,
#item .item_info .order-table .size {
    width: 35%;
}
#item .item_info .order-table .quantity {
    width: 30%;
}

/*
テーブルの線は重ならないように設定（外枠なしのレイアウト）
１．tdの上を設定
*/
#item .item_info .order-table td {
    border-top: solid 1px #c3c3c3;
}

/*
２．th、tdの右を設定
*/
#item .item_info .order-table th,
#item .item_info .order-table td {
    font-weight: normal;
    padding: 10px;
    border-right: solid 1px #c3c3c3;
    text-align: center;
}

/*
３．th、tdの最後だけ右の線を消す
*/
#item .item_info .order-table th:last-child,
#item .item_info .order-table td:last-child {
    border-right: none;
}

/*
-moz-appearance: menulist;
-webkit-appearance: menulist;
セレクトボックスに右端の矢印を表示
*/
#item .item_info .order-table select {
    width: 100%;
    border: solid 1px #c3c3c3;
    padding: 0 10px;
}

#item .item_info .cart-btn {
    width: 100%;
    background-color: #3a8d6d;
    color: #fff;
    display: block;
    line-height: 1;
    padding: 18px 0;
    margin-bottom: 30px;
    text-align: center;
}
/*-------------------------------------------
フッター
-------------------------------------------*/
#footer {
    padding: 10px 0;
}
#footer .copyright {
    font-size: 0.625rem;
    text-align: center;
}

/*-------------------------------------------
min-width: 768px
-------------------------------------------*/
@media screen and (min-width: 768px) {

    h1 {
        font-size: 7rem;
    }

    h2 {
        font-size: 4rem;
    }

    .wrapper {
        padding: 60px;
    }

    #g-nav {
        width: 50%;
    }
    
    #item .item_info  {
        display: flex;
    }

    #item .item_info .item_inner {
        width: 45%;
        margin: 20px auto;
    }
}
/*-------------------------------------------
min-width: 1024px
-------------------------------------------*/
@media screen and (min-width: 1024px) {

    html {
        font-size: 70%;
    }

    .wrapper {
        padding: 100px;
    }

    #g-nav {
        width: 35%;
    }
}
/*-------------------------------------------
min-width: 1440px
-------------------------------------------*/
@media screen and (min-width: 1440px) {
    html {
        font-size: 90%;
    }

    .wrapper {
        width: 1200px;
    }
}