@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    color: #542d24;
    font-family: 'Life Savers' , 'Yomogi';
}

a {
    color: #542d24;
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 80px 0;
    box-shadow: 3px 3px 10px #3a8d6d;
}

li {
    list-style: none;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    text-align: center;
    position: relative;
    display: block;
    height: 100px;
}

main {
    line-height: 1.5em;
}

main h2 {
    margin-bottom: 20px;
}

.wrapper {
    padding: 60px;
    margin: 0 auto;
}

/* ハンバーガーメニューの設定 */
.open_btn {
    display: block;
    position: fixed;
    z-index: 99;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 10%;
}

.open_btn span {
    display: inline-block;
    position: absolute;
    background-color: #9ae2bf;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    width: 45%;
}

.open_btn span:nth-of-type(1) {
    top: 15px;
}

.open_btn span:nth-of-type(2) {
    top: 23px;
}

.open_btn span:nth-of-type(3) {
    top: 31px;
}

.open_btn.active {
    background-color: #9ae2bf;
}

.open_btn.active span:nth-of-type(1) {
    transform: translateY(6px) rotate(-45deg);
    width: 60%;
    top: 18px;
    left: 10px;
    background-color: #fff;
}

.open_btn.active span:nth-of-type(2) {
    opacity: 0;
}

.open_btn.active span:nth-of-type(3) {
    transform: translateY(-6px) rotate(45deg);
    width: 60%;
    top: 30px;
    left: 10px;
    background-color: #fff;
} 
/* /ハンバーガーメニューの設定 */

/* ナビゲーションのCSS */
#g-nav {
    position: fixed;
    z-index: 98;
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh;
    transition: all 0.3s;
    background-color: #9ae2bf;
}

#g-nav.panelactive {
    right: 0;
}

#g-nav .g-nav_list ul {
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 99;
}

#g-nav .g-nav_list p{
    color: #fff;
    font-family: 'Lobster Two', cursive;
    font-size: 4rem;
    text-shadow:
    1px 1px 3px #3a8d6d,
    2px 2px 3px #3a8d6d,
    3px 3px 3px #3a8d6d;
    padding: 10px 0;
    text-indent: 2rem;
    margin-top: 10px;
}

#g-nav .g-nav_list ul li {
    list-style: none;
    text-indent: 2rem;
    color: #fff;
    margin: 25px 0;
}

#g-nav .g-nav_list ul li .nav_indent {
    margin-left: 20px;
}

#g-nav .g-nav_list ul li a {
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 0.2em;
    transition: .3s;
    padding: 5px 10px;
    background-image: linear-gradient(rgba(0,0,0,0) 50%, #3a8d6d 50%);
    background-position: 0 0;
    background-size: auto 200%;
}

#g-nav .g-nav_list ul li a:hover {
    background-position: 0 100%;
}

#g-nav_top {
    display: none;
}
/* ナビゲーションのCSS */

/* トップに戻るボタン */
#page_top {
    height: 50px; /*ボタンのサイズ*/
    width: 50px; /*ボタンのサイズ*/
    position: fixed;
    right: 20px; /*ボタンの位置*/
    bottom: 20px; /*ボタンの位置*/
    border-radius: 50%;
    display: flex; /*ボタンのエリア内に棒線をもってくる*/
    justify-content: center; /*ボタンのエリア内、左右中心に持ってくる*/
    align-items: center; /*ボタンのエリア内、上下中心に持ってくる*/
    background-color: #fff;
    z-index: 99;
}

#page_top .top_btn {
    height: 10px; /*矢印のサイズ*/
    width: 10px; /*矢印のサイズ*/
    border-top: 4px solid #9ae2bf; /*矢印の線の太さと色*/
    border-right: 4px solid #9ae2bf; /*矢印の線の太さと色*/
    transform: translateY(20%) rotate(-45deg); /*L字の棒線の角度を変えて矢印のように見せる*/
}

#page_top:hover {
    box-shadow:
    2px 2px 10px #3a8d6d,
    -2px -2px 10px #3a8d6d;
}
/* /トップに戻るボタン */
/*-------------------------------------------
header
-------------------------------------------*/
#header {
    background-image: url(./photo_top/shop_img1.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode :lighten;
    background-size: cover;
    background-position: center;
    height: 40vh;
    position: relative;
}

/* パンくずリスト */
#header .breadcrumbs{
    display:flex;
    white-space: nowrap;
    padding-top: 42vh;
    height: 30px;
    align-items: center;
}

#header .breadcrumbs li{
    list-style: none;
    padding-right: 10px;
}

#header .breadcrumbs li a {
    text-decoration: underline;
    color: #3a8d6d;
}
/* /パンくずリスト */

#header .site_title {
    font-family: 'Lobster Two', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header .site_title h2 {
    color: #fff;
    text-shadow:
    1px 1px 3px #3a8d6d,
    2px 2px 3px #3a8d6d,
    3px 3px 3px #3a8d6d,
    -1px -1px 3px #3a8d6d,
    -2px -2px 3px #3a8d6d,
    -3px -3px 3px #3a8d6d;
}

#header .site_title h1 {
    color: #3a8d6d;
    text-shadow:
    1px 1px 3px #542d24,
    2px 2px 3px #542d24,
    3px 3px 3px #542d24,
    -1px -1px 3px #542d24,
    -2px -2px 3px #542d24,
    -3px -3px 3px #542d24;
}
/*-------------------------------------------
concept
-------------------------------------------*/
#concept .concept_content {
    background-image: url(./photo_about/about_img1.png);
    height: 350px;
    width: 350px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 100px auto 50px;
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode :lighten;
    position: relative;
    padding: 20px 0;
}

#concept .concept_circle {
    width: 75%;
    height: 75%;
    border-radius: 40% 50% 50% 60%;
    opacity: 0.2;
    background: #9ae2bf;
    animation: rotation 30s infinite linear;
    margin:  60px auto 0;
    position: absolute;
    top: -5%;
    left: 15%;
}

/* 回転アニメーション */
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#concept .concept_paragraph {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
    text-align: center;
}

#concept .concept_paragraph p {
    margin-bottom: 10px;
}
/*-------------------------------------------
access
-------------------------------------------*/
#access {
    margin-bottom: 40px;
}

#access h2 {
    text-align: center;
}

#access .google_map {
    width: 100%;
    height: 40vh;
    filter:hue-rotate(20deg);-webkit-filter:hue-rotate(20deg);
    box-sizing: border-box;
}

#access .access_paragraph p {
    text-align: left;
    margin-bottom: 15px;
    border-bottom: dotted 3px #9ae2bf;
}

#access .access_paragraph p:first-child {
    margin-top: 20px;
}
/*-------------------------------------------
footer
-------------------------------------------*/
#footer .flag_end {
    width: 100%;
    height: 45vh;
    position: relative; 
    background: #9ae2bf;
}

#footer .flag_end:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 0;
    border-top: 70px solid #fff;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
}

#footer .flag_end .footer_content .mint_icon {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

#footer .flag_end .footer_content .mint_icon img {
    width: 60px;
    height: 60px;
}

#footer .flag_end .footer_content .mint_icon .mint_e {
    background-color: #3a8d6d;
    border-radius: 50%;
    margin-top: 30px;
}

#footer .flag_end .footer_content .mint_icon  .mint_c {
    background-color: rgb(251, 250, 150);
    border-radius: 50%;
    margin-top: 60px;
}

#footer .flag_end .footer_content .site_title {
    font-family: 'Lobster Two', cursive;
    font-size: 4rem;
    color: #fff;
    text-align: center;
    text-shadow:
    1px 1px 3px #3a8d6d,
    2px 2px 3px #3a8d6d,
    3px 3px 3px #3a8d6d;
    margin: 20px 0;
}

#footer .flag_end .footer_content .copyright {
    font-size: 1rem;
    text-align: center;
}

#footer .flag_end .footer_content {
    width: 310px;
    margin: 0 auto;
}

#footer .flag_end .footer_content .copyright {
    color: #fbfaf5;
}

/*-------------------------------------------
min-width: 768px
-------------------------------------------*/
@media screen and (min-width: 768px) {

    h1 {
        font-size: 7rem;
    }

    h2 {
        font-size: 4rem;
    }

    main {
        line-height: 2em;
    }
    

    main h2 {
        margin-bottom: 60px;
    }

    main p {
        font-size: 2rem;
    }

    .wrapper {
        width: 80%;
    }

    #g-nav {
        width: 50%;
    }

    #concept .concept_content {
        width: 80%;
        height: 80vh;
    }

    #concept .concept_circle {
        width: 65%;
        height: 80%;
        border-radius: 40% 60% 50% 40%;
    }

    #concept .concept_paragraph {
        top: 70%;
    }

    #access .access_paragraph p {
        margin-bottom: 30px;
    }

    #footer .flag_end .footer_content .mint_icon {
        justify-content: center;
        padding-top: 50px;
    }

    #footer .flag_end .footer_content .mint_icon img {
        margin: 0 20px;
    }
}
/*-------------------------------------------
min-width: 1024px
-------------------------------------------*/
@media screen and (min-width: 1024px) {

    html {
        font-size: 70%;
    }

    main {
        line-height: 2.5em;
    }

    #g-nav {
        width: 30%;
    }

    #concept .concept_content {
        height: 800px;
        width: 800px;
    }

    #concept .concept_circle {
        width: 80%;
        height: 90%;
        border-radius: 40% 60% 50% 40%;
    }

    #concept .concept_paragraph {
        top: 70%; 
    }

    #footer .flag_end {
        height: 500px;
    }

    #footer .flag_end .footer_content .mint_icon img {
        width: 100px;
        height: 100px;
    }
} 
/*-------------------------------------------
min-width: 1440px
-------------------------------------------*/
@media screen and (min-width: 1440px) {
    html {
        font-size: 90%;
    }

    .wrapper {
        width: 1200px;
    }
}