@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Life Savers' , 'Yomogi';
    font-size: 1.6rem;
    color: #542d24;
    background-color: #fbfaf5;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 310px;
    margin: 0 auto;
}

.item_title {
    text-align: center;
    padding: 60px 0;
    letter-spacing: 0.1em;
}

.item_subtitle {
    text-align: center;
    font-size: 2rem;
    padding: 10px 0;
}

.item_paragraph {
    line-height: 3rem;
}

.commit_copy {
    font-family: 'Lovers Quarrel', cursive;
    font-size: 7rem;
    z-index: 2;
    letter-spacing: 0.1em;
    opacity: 0.7;
}

.fadeUp {
    animation-name:fadeUpAnime;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    visibility: hidden;
    }
    
@keyframes fadeUpAnime{
    0% {
        visibility: hidden;
        transform: translateY(50px);
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
    }
}

#page_top {
    height: 50px; /*ボタンのサイズ*/
    width: 50px; /*ボタンのサイズ*/
    position: fixed;
    right: 20px; /*ボタンの位置*/
    bottom: 20px; /*ボタンの位置*/
    border-radius: 50%;
    display: flex; /*ボタンのエリア内に棒線をもってくる*/
    justify-content: center; /*ボタンのエリア内、左右中心に持ってくる*/
    align-items: center; /*ボタンのエリア内、上下中心に持ってくる*/
    background-color: #fff;
    z-index: 99;
}

#page_top .top_btn {
    height: 10px; /*矢印のサイズ*/
    width: 10px; /*矢印のサイズ*/
    border-top: 4px solid #9ae2bf; /*矢印の線の太さと色*/
    border-right: 4px solid #9ae2bf; /*矢印の線の太さと色*/
    transform: translateY(20%) rotate(-45deg); /*L字の棒線の角度を変えて矢印のように見せる*/
}

#page_top:hover {
    box-shadow:
    2px 2px 10px #3a8d6d,
    -2px -2px 10px #3a8d6d;
}
/*--------------------------------
header
--------------------------------*/
#header .slick_wrapper .slide_items img {
    height: 80vh;
    transform: scale(1.3);
    transform-origin: 50% 50%;
    transition: 5s ease-out;
    margin: 0 auto;
}

#header .slick_wrapper .slick-active img {
    transform: scale(1.0);
}

#header {
    content:"";
    background-color: #9ae2bf;
    height: 90vh;
}

#header .site_title {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Lobster Two', cursive;
    font-size: 7rem;
    color: #fff;
    text-shadow:
    1px 1px 3px #3a8d6d,
    2px 2px 3px #3a8d6d,
    3px 3px 3px #3a8d6d;
}

#header .open_btn {
    display: block;
    position: fixed;
    z-index: 99;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 10%;
}

#header .open_btn span {
    display: inline-block;
    position: absolute;
    background-color: #9ae2bf;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    width: 45%;
}

#header .open_btn span:nth-of-type(1) {
    top: 15px;
}

#header .open_btn span:nth-of-type(2) {
    top: 23px;
}

#header .open_btn span:nth-of-type(3) {
    top: 31px;
}

#header .open_btn.active {
    background-color: #9ae2bf;
}

#header .open_btn.active span:nth-of-type(1) {
    transform: translateY(6px) rotate(-45deg);
    width: 60%;
    top: 18px;
    left: 10px;
    background-color: #fff;
}

#header .open_btn.active span:nth-of-type(2) {
    opacity: 0;
}

#header .open_btn.active span:nth-of-type(3) {
    transform: translateY(-6px) rotate(45deg);
    width: 60%;
    top: 30px;
    left: 10px;
    background-color: #fff;
} 

/*ナビゲーションのCSS*/
#g-nav {
    position: fixed;
    z-index: 98;
    top: 0;
    right: -120%;
    width: 100%;
    height: 100vh;
    transition: all 0.3s;
    background-color: #9ae2bf;
}

#g-nav.panelactive {
    right: 0;
}

#g-nav .g-nav_list ul {
    position: absolute;
    top: 10%;
    left: 0;
    z-index: 99;
}

#g-nav .g-nav_list p{
    color: #fff;
    font-family: 'Lobster Two', cursive;
    font-size: 4rem;
    text-shadow:
    1px 1px 3px #3a8d6d,
    2px 2px 3px #3a8d6d,
    3px 3px 3px #3a8d6d;
    padding: 10px 0;
    text-indent: 2rem;
    margin-top: 10px;
}

#g-nav .g-nav_list ul li {
    list-style: none;
    text-indent: 2rem;
    color: #fff;
    margin: 25px 0;
}

#g-nav .g-nav_list ul li p {
    color: #fff;
    font-family: 'Lobster Two', cursive;
    font-size: 4rem;
    line-height: 1em;
    margin-bottom: 40px;
    text-shadow: 2px 2px 2px #3a8d6d;
}

#g-nav .g-nav_list ul li a {
    color: #fff;
    font-size: 2.4rem;
    letter-spacing: 0.2em;
}

#g-nav .g-nav_list ul .list_indent {
    margin-left: 30px;
}

#g-nav_top {
    display: none;
}
/*--------------------------------
concept
--------------------------------*/
#concept .concept_content {
    border: solid 4px #9ae2bf;
    padding: 10px;
    margin: 20px auto;
}

#concept .concept_content .item_title{
    border-bottom: solid 1px #542d24;
    text-align: center;
    padding: 20px;
}

#concept .concept_content .concept_item p {
    margin-top: 20px;
}

#concept .concept_content .concept_item .mint_icon {
    display: flex;
    justify-content: space-around;
}

#concept .concept_content .concept_item .mint_icon img {
    width: 60px;
    height: 60px;
}

#concept .mint_e {
    background-color: #3a8d6d;
    border-radius: 50%;
    margin-top: 30px;
}

#concept .mint_c {
    background-color: rgb(251, 250, 150);
    border-radius: 50%;
    margin-top: 60px;
}
/*--------------------------------
commit
--------------------------------*/
#commit .flag_start {
    width: 100%;
    height: 10vh;
    position: relative; 
    background: #9ae2bf;
}

#commit .flag_start:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: 0;
    border-bottom: 40px solid #fbfaf5;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
}

#commit .commit_content .item_title {
    padding: 20px 0 40px;
}

#commit .commit_content .commit_item {
    height: 900px;
    position: relative;
}

#commit .commit_content .commit_item .commit_img {
    position: absolute;
    top: 0;
    width: 310px;
    height: 400px;
    border-radius: 80px 0;
    z-index: 2;
    filter: grayscale(40%);
}

#commit .commit_content .commit_item .commit_icon {
    position: absolute;
    top: 330px;
    left: 80px;
    width: 200px;
    z-index: 1;
    opacity: 0.6;
    transform: rotate(-100deg);
}

#commit .commit_content .commit_item .commit_paragraph {
    position: absolute;
    top: 450px;
    z-index: 2;
}

#commit .commit_content .commit_item .commit_paragraph .commit_copy {
    margin-bottom: 40px;
}

#commit .commit_content .commit_item .commit_paragraph .commit_num {
    color: #3a8d6d;
    text-shadow: 1px 1px 3px #9ae2bf,
    1px 1px 3px #9ae2bf,
    1px 1px 3px #9ae2bf,
    1px 1px 3px #9ae2bf;
}

#commit .commit_content .commit_item .commit_paragraph .item_title {
    text-align: left;
}
/*--------------------------------
pick up
--------------------------------*/
#pickup .pickup_content{
    padding-bottom: 100px;
}

#pickup .pickup_content .slide_items2 {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

#pickup  .pickup_content .slide_items2 img {
    width: 100%;
    height: auto;
    filter: brightness(120%);
    margin: 20px 0;
}

#pickup .pickup_content  .slide_items2 .item_paragraph {
    margin: 0 auto 5vh;
}

#pickup .slick-dots li {
    width: 30px;
}

#pickup .slick-dots li button:before {
    font-size: 24px;
    top: 6px;
    color: #9ae2bf;
    opacity: 0.5;
} 

#pickup .slick-dots li.slick-active button:before {
    color: #3a8d6d;
}

#pickup  .slide_items2 span {
    font-size: 1.6rem;
    padding: 2px;
    color: red;
}
/*--------------------------------
news
--------------------------------*/
#news {
    background-color: #9ae2bf;
    padding-bottom: 100px;
}

#news .news_content .news_container .news_item img {
    width: 310px;
    height: 206px;
    object-fit: cover;
    vertical-align: top;
    border-radius: 5% 5% 0 0;
    box-shadow: 2px 0 20px  #3a8d6d;
}

#news .news_content .news_container .news_item .item_paragraph {
    background-color: #fbfaf5;
    height: 120px;
    border-radius: 0 0 5% 5%;
    padding: 20px 10px;
    box-shadow: 2px 2px 20px #3a8d6d;
    position: relative;
    margin-bottom: 60px;
}

#news .news_content .news_container .news_item .item_paragraph p {
    margin-top: 10px;
}

#news .news_content .news_container .news_item .item_paragraph .news_date {
    background-color: #9ae2bf;
    padding: 10px;
    border-radius: 6px;
    text-shadow:
    0.5px 0.5px 0.5px #542d24,
    -0.5px -0.5px 0.5px #542d24;
    letter-spacing: 0.2em;
}

#news .news_content .news_btn {
    border-radius: 6px;
    margin: 0 auto 60px ;
    padding: 12px 0;
    width: 60%;
    height: 40%;
    display: block;
    letter-spacing: 0.05em;
    background: #542d24;
    color: #fff;
}

#news .news_content .news_btn p{
    text-align: center;
}
/*--------------------------------
shop
--------------------------------*/
#shop {
    height: 700px;
}

#shop .shop_content .shop_item {
    position: relative;
}

#shop .shop_content .shop_item img {
    position: absolute;
    width: 200px;
    height: 200px;
    object-fit: cover;
    filter: sepia(50%);
}

#shop .shop_content .shop_item .shop_img1 {
    border-radius: 0 150px;
    right: 0;
    box-shadow: -4px 4px 2px #3a8d6d;
}

#shop .shop_content .shop_item .shop_img2 {
    opacity: 0.5;
    border-radius: 150px 0;
    top: 250px;
    box-shadow: 4px 4px 2px #3a8d6d;
}

#shop .shop_content .shop_item .news_sub1 {
    position: absolute;
    top: 80px;
    left: 160px;
    color: #fff;
}

#shop .shop_content .shop_item .news_sub2 {
    position: absolute;
    top: 340px;
    left: 35px;
    color: #542d24;
}
/*--------------------------------
footer
--------------------------------*/
#footer .flag_end {
    width: 100%;
    height: 300px;
    position: relative; 
    background: #9ae2bf;
}

#footer .flag_end:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 0;
    border-top: 70px solid #fbfaf5;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
}

#footer .flag_end .footer_content .mint_icon {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

#footer .flag_end .footer_content .mint_icon img {
    width: 60px;
    height: 60px;
}

#footer .flag_end .footer_content .mint_icon .mint_e {
    background-color: #3a8d6d;
    border-radius: 50%;
    margin-top: 30px;
}

#footer .flag_end .footer_content .mint_icon  .mint_c {
    background-color: rgb(251, 250, 150);
    border-radius: 50%;
    margin-top: 60px;
}

#footer .flag_end .footer_content .site_title {
    font-family: 'Lobster Two', cursive;
    font-size: 4rem;
    color: #fff;
    text-align: center;
    text-shadow:
    1px 1px 3px #3a8d6d,
    2px 2px 3px #3a8d6d,
    3px 3px 3px #3a8d6d;
    margin: 20px 0;
}

#footer .flag_end .footer_content .copyright {
    font-size: 1rem;
    text-align: center;
}
/*-------------------------------------------
min-width: 768px
-------------------------------------------*/
@media screen and (min-width: 768px) {
    .wrapper {
        width: 600px;
        margin: 0 auto;
    }

    .item_title {
        letter-spacing: 0;
    }

    .item_paragraph p {
        line-height: 1.4em;
    }
/*--------------------------------
header
--------------------------------*/
    #header .slick_wrapper .slide_items img {
        width: 100%;
    }

    #g-nav {
        width: 50%;
    }
/*--------------------------------
concept
--------------------------------*/
    #concept {
        background-color: #9ae2bf;
    }

    #concept .concept_content {
        background-color: #fbfaf5;
        margin: 0 auto;
        padding: 40px 0;
    }

    #concept .concept_item {
        width: 400px;
        margin: 0 auto;
        padding: 20px 60px;
        border: solid 4px #9ae2bf;
    }

    #concept .concept_content .concept_item .mint_icon {
        justify-content: center;
    }

    #concept .concept_content .concept_item .mint_icon img {
        margin-right: 20px;
        margin-left: 20px;
    }
/*--------------------------------
commit
--------------------------------*/
    #commit .flag_start {
        height: 20vh;
    }

    #commit .commit_content .commit_item {
        height: 550px;
    }

    #commit .commit_content .commit_item .icon_r {
        left: 210px;
        transform: rotate(10deg);
    }

    #commit .commit_content .commit_item .icon_l {
        left: 155px;
        top: 300px;
    }

    #commit .commit_content .commit_item .commit_paragraph {
        top: 20px;
        width: 280px;
    }

    #commit .commit_content .commit_item .commit_paragraph .commit_copy {
        margin-bottom: 0;
    }

    #commit .commit_content .commit_item .img_r,
    #commit .commit_content .commit_item .paragraph_r {
        right: 0;
    }
/*--------------------------------
pickup
--------------------------------*/
    #pickup .pickup_content {
        width: 80%;
    }
    
    #pickup .pickup_content .slide_items2 {
        margin: 0 auto;
        padding: 0;
    }

    #pickup .pickup_content .slide_items2 .slide_img {
        margin:0 5vw;
    }

    #pickup .slide_items2 img {
        width: 100%;
    }

    #pickup .slick-prev:before,
    #pickup .slick-next:before {
        color: #3a8d6d;
        opacity: 100%;
        font-size: 70px;       
    }

    #pickup .slick-prev{
        top: 30%;
        left: 10%;
        z-index: 2;
        width: 20%;
    }

    #pickup .slick-next {
        top: 30%;
        right: 10%;
        z-index: 2;
        width: 20%;
    } 

    #pickup .pickup_content .mypattern .slick-slide:not(.slick-center) {
        -webkit-filter: opacity(40%);
        -moz-filter: opacity(40%);
        -o-filter: opacity(40%);
        -ms-filter: opacity(40%);
        filter: opacity(40%);
        transition: 0.2s linear;
    }
/*--------------------------------
news
--------------------------------*/
    #news .news_content.n ews_container .news_item {
        margin: 0 auto;
    }

    #news .news_content .news_container .news_item img {
        display: block;
        margin: 0 auto;
        width: 400px;
        height: 300px;
    }

    #news .news_content .news_container .news_item .item_paragraph {
        width: 380px;
        margin: 0 auto 60px;
    }
/*--------------------------------
shop
--------------------------------*/
    #shop {
        height: 800px;
    }

    #shop .shop_content .shop_item img {
        width: 300px;
        height: 300px;
    }

    #shop .shop_content .shop_item .shop_img1 {
        border-radius: 0 250px;
    }

    #shop .shop_content .shop_item .shop_img2 {
        border-radius: 250px 0;
    }

    #shop .shop_content .shop_item .news_sub1 {
        top: 130px;
        left: 400px;
    }

    #shop .shop_content .shop_item .news_sub2 {
        top: 390px;
        left: 80px;
    }
/*--------------------------------
footer
--------------------------------*/
    #footer .flag_end .footer_content .mint_icon {
        justify-content: center;
        padding-top: 50px;
    }

    #footer .flag_end .footer_content .mint_icon img {
        margin: 0 20px;
    }
}
/*-------------------------------------------
min-width: 1024px
-------------------------------------------*/
@media screen and (min-width: 1024px) {
    html {
        font-size: 70%;
    }

    #g-nav_top .g-nav_top_list .li {
        font-size: 3rem;
    }

    #commit .commit_content .commit_item {
        height: 700px;
    }

    .item_title {
        padding: 100px 0;
        font-size: 3.6rem;
    }

    #concept .concept_content .concept_item .mint_icon img,
    #footer .flag_end .footer_content .mint_icon img {
        width: 100px;
        height: 100px;
    }

    #concept .concept_content .concept_item .item_title,
    #commit .commit_content .commit_item .item_title {
        font-size: 2.4rem;
    }

    .wrapper {
        width: 800px;
    }
/*--------------------------------
header
--------------------------------*/    
    #header .slick_wrapper .slide_items img {
        height: 100vh;
    }

    #header {
        height: 110vh;
    }

    #header .site_title {
        font-size: 10rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #header .open_btn {
        display: none;
    }

    #g-nav {
        width: 30%;
    }

    #g-nav_top {
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
    }

    #g-nav_top.m_fixed {
        left: 0;
        position: fixed;
        top: 0;
        height: 0;
        transform: translateY(0);
        z-index: 3;
    }

    #g-nav_top .g-nav_top_list .g-nav_site_title {
        color: #fff;
        font-family: 'Lobster Two', cursive;
        font-size: 4rem;
        text-shadow:
        1px 1px 3px #3a8d6d,
        2px 2px 3px #3a8d6d,
        3px 3px 3px #3a8d6d;
        padding: 10px 0;
    }

    #g-nav_top .g-nav_top_list {
        display: flex;
        align-items: center;
        height: 100px;
        background-color: rgba(251, 250, 245, 0.8);
    }

    #g-nav_top .g-nav_top_list .g-nav_site_title {
        margin-left: 30px;
    }

    #g-nav_top .g-nav_top_list .g-nav_site_title:hover {
        -webkit-animation: zoom .3s;
        animation: zoom .3s;
        color:#3a8d6d;
        text-shadow:
        1px 1px 3px #542d24,
        2px 2px 3px #542d24,
        3px 3px 3px #542d24;
    }

    @keyframes zoom {
        50% {
        transform: scale(1.3);
        }
    }

    #g-nav_top .g-nav_top_list .g-nav_top_inner {
        display: flex;
        list-style: none;
        width: 100%;
        justify-content: flex-end;
        margin-right: 80px;
    }

    #g-nav_top .g-nav_top_list .g-nav_top_inner li {
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    #g-nav_top .g-nav_top_list .g-nav_top_inner li a,
    #g-nav_top .g-nav_top_list .g-nav_top_inner .shop {
        color: #542d24;
        transition: .3s;
        -webkit-transform: scale(1);
        transform: scale(1);
        padding: 5px 10px;
        background-image: linear-gradient(rgba(0,0,0,0) 50%, #3a8d6d 50%);
        background-position: 0 0;
        background-size: auto 200%;
        cursor: pointer;
        position: relative;
    }
    
    #g-nav_top .g-nav_top_list .g-nav_top_inner li a:hover,
    #g-nav_top .g-nav_top_list .g-nav_top_inner .shop:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        background-position: 0 100%;
        color: #fff;
    }

    #g-nav_top .g-nav_top_list .g-nav_top_inner li .shop:hover {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        background-position: 0 100%;
        color: #fff;
    }

    /*アコーディオンで現れるエリア*/
    #g-nav_top .g-nav_top_list .g-nav_top_inner li .shop_tab {
        display: none;/*はじめは非表示*/
        width: max-content;
        position: absolute;
        top: 100px;
        background-color: rgba(251, 250, 245, 0.8);
    }

    #g-nav_top .g-nav_top_list .g-nav_top_inner li .shop_tab li {
        padding: 0 0 20px 20px;
    }
/*--------------------------------
concept
--------------------------------*/
    #concept {
        padding-top: 100px;
        margin-top: -100px;
    }

    #concept .concept_content .concept_item {
        width: 600px;
    }

/*--------------------------------
commit
--------------------------------*/
    #commit .commit_content .commit_item .commit_paragraph {
        width: 400px;
    }

    #commit .commit_content .commit_item .commit_paragraph .item_title br {
        display: none;
    }

    #commit .commit_content .commit_item .icon_r {
        left: 400px;
    }
/*--------------------------------
pickup
--------------------------------*/
    #pickup {
        padding-top: 100px;
        margin-top: 100px;
    }

    #pickup .pickup_content {
        height: 900px;
    }
/*--------------------------------
news
--------------------------------*/
    #news {
        height: 800px;
        padding-top: 100px;
        margin-top: 100px;
    }

    #news .news_content .news_container {
        display: flex;
        justify-content: space-between;
    }

    #news .news_content .news_container .news_item img {
        width: 240px;
        height: 180px;
    }

    #news .news_content .news_container .news_item .item_paragraph {
        width: 220px;
    }
/*--------------------------------
shop
--------------------------------*/
    #shop {
        padding-top: 100px;
        margin-top: -100px;
        height: 1000px;
    }

    #shop .shop_content .shop_item img {
        width: 350px;
        height: 350px;
    }

    #shop .shop_content .shop_item .news_sub1 {
        top: 150px;
        left: 570px;
    }

    #shop .shop_content .shop_item .news_sub2 {
        top: 420px;
        left: 100px;
    }

    #shop .shop_content .shop_item {
        z-index: 2;
        filter: grayscale(70%);
    }

    #shop .shop_content .shop_item:hover {
        animation-name: updown1;   /* アニメーション名の指定 */
        animation-delay: 0s;   /* アニメーションの開始時間指定 */
        animation-duration: 1s;   /* アニメーション動作時間の指定 */
        animation-timing-function: ease-in-out;  /* アニメーションの動き指定（徐々に早く）*/
        animation-iteration-count: infinite; 
        filter: none;
    }

    @keyframes updown1 {
        0% {
        transform: translateY(0);
        }
        50% {
        transform: translateY(-20px);
        }
        100% {
        transform: translateY(0);
        }
    }
/*--------------------------------
footer
--------------------------------*/
    #footer .flag_end {
        height: 500px;
    }
}
/*-------------------------------------------
min-width: 1440px
-------------------------------------------*/
@media screen and (min-width: 1440px) {
    html {
        font-size: 90%;
    }

    .wrapper {
        width: 1200px;
    }

    #g-nav_top .g-nav_top_list .li {
        font-size: 50vw;
    }
/*--------------------------------
concept
--------------------------------*/
    #concept .concept_content .concept_item {
        width: 1000px;
    }
/*--------------------------------
commit
--------------------------------*/
    #commit .commit_content .commit_item .commit_img {
        position: absolute;
        top: 0;
        width: 400px;
        height: 500px;
    }

    #commit .commit_content .commit_item .commit_paragraph {
        width: 600px;
    }

    #commit .commit_content .commit_item .commit_paragraph .item_title br {
        display: none;
    }

    #commit .commit_content .commit_item .icon_r {
        top: 420px;
        left: 680px;
    }

    #commit .commit_content .commit_item .icon_l {
        left: 250px;
        top: 400px;
    }
/*--------------------------------
pickup
--------------------------------*/
    #pickup .pickup_content {
        height: 1200px;
    }
/*--------------------------------
news
--------------------------------*/
    #news {
        height: 1100px;
    }

    #news .news_content .news_container .news_item img {
        width: 350px;
        height: 300px;
    }

    #news .news_content .news_container .news_item .item_paragraph {
        width: 330px;
        height: 200px;
    }
/*--------------------------------
shop
--------------------------------*/
    #shop {
        height: 1200px;
    }

    #shop .shop_content .shop_item img {
        width: 450px;
        height: 450px;
    }

    #shop .shop_content .shop_item .news_sub1 {
        top: 200px;
        left: 900px;
    }

    #shop .shop_content .shop_item .news_sub2 {
        top: 450px;
        left: 130px;
    }
}
